<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <style>
        div {
            margin-bottom: 30px;
        }

        form {
            display: block;
            bottom: 0;
            position: fixed;
            margin-top: 10px;
        }

        input[type="text"] {
            width: 500px;
            height: 20px;
        }
    </style>
</head>

<body>
    {{request.user.username}} | <a href="{% url 'logout_view' %}">Logout</a>
    <hr>
    <div>
        {% for message in messages %}
        {{message.text}}
        <br>
        {{message.origin.username}}
        <hr>
        {% endfor %}
    </div>


    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="message">
        <input type="submit" value="Submit">
    </form>

</body>

</html>